/* Global Styles for Football Dashboard */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #288817 25%, #033c01 75%);
    color: #333;
    margin: 0;
    padding: 0;
}



main {
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    background-color: #004d00; /* Dark Green */
    color: #ffffff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-size: 1.5em;
    text-align: center;
}

.card-content {
    padding: 20px;
}

.button {
    background-color: #ffcc00; /* Yellow */
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e6b800; /* Darker Yellow */
}

/* Ensure the app takes up the full height of the viewport */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Content container grows to fill available space */
.content-container {
  flex: 1;
  padding-bottom: 60px; /* Add space for the footer */
}

@media (max-width: 768px) {
  .home-container {
    padding: 20px; /* Remove left padding for smaller screens */
  }

  .grid-container {
    margin-left: 0; /* Remove left margin for smaller screens */
    grid-template-columns: 1fr; /* Stack everything in one column */
  }

  .matches-grid {
    justify-content: center; /* Center the match cards */
  }

  .top-scorer {
    margin-top: 20px; /* Add spacing above the Top Scorer card */
  }
}