.bottom-card {
  height: 300px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  margin-bottom: 20px; /* Add some space below the card */
  background-color: #f0f0f0; /* Change background color */
}

.bottom-card-content {
  padding: 20px;
}

.bottom-card-image {
  width: 100%;
  border-radius: 8px; /* Add border radius */
}

.bottom-card-details {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center text vertically */
  padding-left: 10px; /* Add padding to the left */
}