.container {
  padding: 20px;
  
}

.page-title {
  text-align: left;
  margin-bottom: 20px;
}

.row {
  margin-left: 0;
  margin-right: 0;

}

.col-md-4 {
  padding-left: 2px; /* Reduced padding */
  padding-right: 2px; /* Reduced padding */
  
}

.match-card {
  margin-bottom: 10px; /* Reduced margin */

}

.most-goals-card {
  height: 700px; /* Increased height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */

}

.most-goals-chart {
  display: flex;
  justify-content: center; /* Center chart horizontally */

}