.card {
  border-radius: 10px; /* Rounded corners for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for the card */
  margin-top: 20px; /* Adjust the top margin to lower the cards */
  min-height: 400px; /* Add minimum height to the cards */
  width: 100%; /* Adjust the width to fit within the container */
  max-width: 500px; /* Set a maximum width for the cards */
  margin: 0 auto; /* Center the cards within the column */
  border: 1px solid #006400; /* Dark green border */
  margin-bottom: 20px;
}

.card-body {
  padding: 10px; /* Reduce padding to make the card content more compact */
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
}

.card-title {
  font-size: 1.25rem; /* Adjust the font size of the card title */
  margin-bottom: 10px; /* Margin below the card title */
  color: #006400; /* Dark green */
}

.card-text {
  font-size: 1rem; /* Adjust the font size of the card text */
  margin-bottom: 5px; /* Margin below the card text */
}

.bg-dark {
  background-color: #343a40 !important; /* Dark background color */
}

.text-white {
  color: #fff !important; /* White text color */
}

.mb-4 {
  margin-bottom: 1.5rem !important; /* Bottom margin for the card */
}

/* Additional styles for the container */
.team-comparison-container {
  display: flex;
  justify-content: space-between; /* Distribute space between the cards */
  gap: 50px; /* Adjust the gap between the cards */
  flex-wrap: wrap;
  margin-top: 50px; /* Lower the cards */
  padding: 0 20px; /* Add space around the cards */
}

.chart-container {
  margin-top: 20px; /* Adjust the top margin of the charts */
}

.small-chart-container {
  width: 350px; /* Set a fixed width for the smaller chart */
  margin: 0 auto; /* Center the smaller chart */
}

@media (max-width: 768px) {
  .team-comparison-container {
    flex-direction: column; /* Stack the cards vertically on smaller screens */
  }
}