.top-scorer-container {
  width: 280px;
  height: 200px; /* Reduced height by a few pixels */
  margin: 10px auto 10px 0;
}

.top-scorer-card {
  background-color: #ffeb3b;
  height: 100%;
}

.top-scorer-avatar {
  width: 56px;
  height: 56px;
  margin-right: 8px; /* Adjusted margin */
}

.top-scorer-content {
  display: flex;
  align-items: center;
}

.top-scorer-player {
  margin-top: 16px; /* Adjusted margin */
}